fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
bcrypt
python-multipart
jinja2
cloudinary
python-dotenv
openpyxl
xlrd==2.0.1
python-docx
beautifulsoup4
pdfplumber
reportlab
